[submodule "backend/backend-users"]
	path = backend/backend-users
	url = https://github.com/AAA-NU/backend-users.git
[submodule "backend/backend-spaces"]
	path = backend/backend-spaces
	url = https://github.com/AAA-NU/backend-spaces.git
[submodule "backend/backend-qr-attendance"]
	path = backend/backend-qr-attendance
	url = https://github.com/AAA-NU/backend-qr-attendance.git
[submodule "TelegramBot"]
	path = TelegramBot
	url = https://github.com/AAA-NU/TelegramBot.git
